@inherits LayoutComponentBase

<div>
    <div class="content-top">
      <Image Class="logo-display" Src="encoretixbannerimage.png"/>
    </div>
    <main>   
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
